---
---

@import "{{ site.theme }}";

.right {
	float: right;
}

.circle {
	border-radius: 50%;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #72179d;
}

h1 {
	font-size: 4em !important;
	padding-bottom: none !important;
	border-bottom: none !important;
}
