<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <a href="/"><img class="right circle" height="512" width="512" src="https://avatars.githubusercontent.com/u/11363547"/></a>
      <h1>{{ page.title }}</h1>
      <h4>{{ page.subtitle }}</h4>
      {{ content }}
    </div>
  </body>
</html>
